.spacer{
  width: 50px;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
}
.nav{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
}
