<mat-toolbar color="primary" class="menu">
  <!-- <h1>LOGO</h1> -->
  <!-- <img src="../../../assets/logo.png" alt="logo" class="logo"> -->
  <a href="home"><img src="../../../assets/logo.png" alt="logo" class="logo"></a>
  <div class="nav">
    <p><a href="home">List All (Home)</a></p>
    <span class="spacer"></span>
    <p><a href="search">Search</a></p>
    <span class="spacer"></span>
    <p><a href="">Option 3</a></p>
    <span class="spacer"></span>
    <p><a href="">Option 4</a></p>
    <span class="spacer"></span>
  </div>
</mat-toolbar>
