.sidebar-container{
  display: flex;
  flex-direction: column;
  border-top: 0px;
  padding-top: 0px;
  position: static;
}

.sidebar-menu{
  display: flex;
  flex-direction: column;
}

.logo{
  width: 50px;
}
